---
export const prerender = true;

import DashboardBaseLayout from "../../layouts/DashboardBaseLayout.astro";

const metadata = {
  title: "Dashboard - V.Vidhya",
  description:
    "Learn top computer courses at V.Vidhya in Surat. From programming to graphic design, boost your skills and indulge your creativity to do real work with the help of technology.",
};
---

<DashboardBaseLayout
  metadata={metadata}
  includeLottieAnimScript={false}
  navSection="dashboard"
>
  <main class="flex flex-col items-center justify-center gap-3 w-full my-20">
    <section
      class="flex flex-col items-center justify-center gap-3 mx-auto max-w-mdsm md:max-w-2xl lg:max-w-4xl 2xl:max-w-6xl"
    >
      <h2
        class="text-center text-font-color-sec text-[34px] md:text-5xl font-extrabold"
      >
        V.Vidhya Dashboard
      </h2>

      <img
        src="/images/doodles/co-working.svg"
        alt="an Illustration of a woman doing designing"
        class="ind-course-illus"
        decoding="async"
      />
    </section>
  </main>
</DashboardBaseLayout>
