@import "tailwindcss";

@config "../../tailwind.config.js";

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

:root,
html[data-theme="light"] {
  --background: #f9f8f4;
  --navbar: #f4f2e9;

  --foreground: #1e1e1e;
  --texthover: #6c757d;
  --accent: #006cac;

  /* --codeblock: #e7e5dd; */
  --codeblock: #f4f2e9;
  --muted: #e6e6e6;
  --border: #9c9a97;
  --borderhover: #1e1e1e;
}

html[data-theme="dark"] {
  --background: #1e1e1e;
  --navbar: #121212;

  --foreground: #f9f8f4;
  --texthover: #6c757d;
  --accent: #ff6b01;

  /* --codeblock: #121212; */
  --codeblock: #121212;
  --muted: #343f60bf;
  --border: #6c757d;
  --borderhover: #f9f8f4;
}

@theme inline {
  --color-background: var(--background);
  --color-navbar: var(--navbar);

  --color-foreground: var(--foreground);
  --color-accent: var(--accent);
  --color-texthover: var(--texthover);

  --color-codeblock: var(--codeblock);
  --color-muted: var(--muted);
  --color-border: var(--border);
  --color-borderhover: var(--borderhover);
}

@layer base {
  :root {
    --header-height: 52px;
    --main-section-pt: 40px;
    --main-section-pb: 40px;
  }

  @media (min-width: 640px) {
    :root {
      --header-height: 64px;
    }
  }

  @media (min-width: 768px) {
    :root {
      --header-height: 88px;
    }
  }

  @media (min-width: 1024px) {
    :root {
      --header-height: 94px;
    }
  }

  html {
    @apply scroll-smooth;
  }

  body {
    @apply flex flex-col min-h-screen bg-background font-notosans text-foreground selection:bg-accent/75 selection:text-background;
  }

  main {
    padding-top: calc(var(--header-height) + var(--main-section-pt));
    padding-bottom: var(--main-section-pb);
    @apply mt-10 mb-16;
  }
}

@layer base {
  @font-face {
    font-family: "NotoSans";
    font-style: normal;
    font-weight: 300;
    src: url(/fonts/noto-sans-v37-latin-300.woff2) format("woff2");
    font-display: swap;
  }
  @font-face {
    font-family: "NotoSans";
    font-style: italic;
    font-weight: 300;
    src: url(/fonts/noto-sans-v37-latin-300italic.woff2) format("woff2");
    font-display: swap;
  }

  @font-face {
    font-family: "NotoSans";
    font-style: normal;
    font-weight: 400;
    src: url(/fonts/noto-sans-v37-latin-regular.woff2) format("woff2");
    font-display: swap;
  }
  @font-face {
    font-family: "NotoSans";
    font-style: italic;
    font-weight: 400;
    src: url(/fonts/noto-sans-v37-latin-italic.woff2) format("woff2");
    font-display: swap;
  }

  @font-face {
    font-family: "NotoSans";
    font-style: normal;
    font-weight: 500;
    src: url(/fonts/noto-sans-v37-latin-500.woff2) format("woff2");
    font-display: swap;
  }
  @font-face {
    font-family: "NotoSans";
    font-style: italic;
    font-weight: 500;
    src: url(/fonts/noto-sans-v37-latin-500italic.woff2) format("woff2");
    font-display: swap;
  }

  @font-face {
    font-family: "NotoSans";
    font-style: normal;
    font-weight: 600;
    src: url(/fonts/noto-sans-v37-latin-600.woff2) format("woff2");
    font-display: swap;
  }
  @font-face {
    font-family: "NotoSans";
    font-style: italic;
    font-weight: 600;
    src: url(/fonts/noto-sans-v37-latin-600italic.woff2) format("woff2");
    font-display: swap;
  }

  @font-face {
    font-family: "NotoSans";
    font-style: normal;
    font-weight: 700;
    src: url(/fonts/noto-sans-v37-latin-700.woff2) format("woff2");
    font-display: swap;
  }
  @font-face {
    font-family: "NotoSans";
    font-style: italic;
    font-weight: 700;
    src: url(/fonts/noto-sans-v37-latin-700italic.woff2) format("woff2");
    font-display: swap;
  }

  @font-face {
    font-family: "NotoSans";
    font-style: normal;
    font-weight: 800;
    src: url(/fonts/noto-sans-v37-latin-800.woff2) format("woff2");
    font-display: swap;
  }
  @font-face {
    font-family: "NotoSans";
    font-style: italic;
    font-weight: 800;
    src: url(/fonts/noto-sans-v37-latin-800italic.woff2) format("woff2");
    font-display: swap;
  }

  @font-face {
    font-family: "NotoSans";
    font-style: normal;
    font-weight: 900;
    src: url(/fonts/noto-sans-v37-latin-900.woff2) format("woff2");
    font-display: swap;
  }
  @font-face {
    font-family: "NotoSans";
    font-style: italic;
    font-weight: 900;
    src: url(/fonts/noto-sans-v37-latin-900italic.woff2) format("woff2");
    font-display: swap;
  }
}

@layer components {
  /* #region VVIDHYA LOGO */

  /* general */
  .dynamic-stroke {
    stroke: var(--foreground);
  }

  /* header-logo */
  .header-logo-svg {
    @apply h-9 sm:h-12 md:h-16 lg:h-18 w-auto;
  }

  .header-logo-svg .body-outline {
    stroke-width: 11.25;
  }

  .header-logo-svg .eyes-outline {
    stroke-width: 7.5;
  }

  .header-logo-svg .brain-divider-line {
    stroke-width: 6.25;
  }

  .header-logo-svg .brain-curves {
    stroke-width: 4.15;
  }

  /* home-logo */
  .home-logo-svg {
    @apply h-20 xs:h-[88px] sm:h-24 md:h-32 lg:h-40 xl:h-48 w-auto;
  }

  .home-logo-svg .body-outline {
    stroke-width: 9.5;
  }

  .home-logo-svg .eyes-outline {
    stroke-width: 6.75;
  }

  .home-logo-svg .brain-divider-line {
    stroke-width: 6.25;
  }

  .home-logo-svg .brain-curves {
    stroke-width: 3.5;
  }

  /* footer-logo */
  .footer-logo-svg {
    @apply h-8 md:h-10 lg:h-12 w-auto;
  }

  .footer-logo-svg .body-outline {
    stroke-width: 11.25;
  }

  .footer-logo-svg .eyes-outline {
    stroke-width: 7.5;
  }

  .footer-logo-svg .brain-divider-line {
    stroke-width: 6.25;
  }

  .footer-logo-svg .brain-curves {
    stroke-width: 4.15;
  }
  /* #endregion */

  /* #region GENERAL */
  .util-icon {
    width: 1em !important;
    height: 1em !important;
  }

  .link-interaction-effect {
    @apply transition-all hover:text-font-color-green active:text-font-color-green;
  }

  .link-interaction-effect.touch {
    @apply text-font-color-green;
  }

  .link-interaction-underline-effect {
    @apply transition-all hover:underline active:underline;
  }

  .link-interaction-underline-effect.touch {
    @apply underline;
  }

  textarea:focus,
  input:focus {
    outline: none;
  }

  .scroll-up-btn {
    @apply transition-all hidden fixed justify-center items-center cursor-pointer bottom-4 right-4 z-[5] w-10 h-10 rounded-full bg-font-color-sec text-font-color-white hover:text-font-color-pri active:text-font-color-pri;
  }

  .scroll-up-btn.touch {
    @apply text-font-color-pri;
  }
  /* #endregion */

  /* #region HEADER */
  .header {
    /* @apply bg-navbar-color-pri flex justify-between py-2 md:py-3 px-2 sm:px-4 md:px-8 mb-10 sticky top-0 z-10; */
    @apply fixed top-0 right-0 left-0 z-10 mb-10 flex w-auto justify-between bg-navbar px-2 py-2 text-foreground sm:px-4 md:px-8 md:py-3;
    height: var(--header-height);
  }

  .header-logo-text {
    @apply text-foreground text-xl sm:text-2xl md:text-3xl lg:text-4xl mt-2 sm:mt-3 lg:mt-4 font-black hover:text-font-color-green active:text-font-color-green;
  }

  .header-logo-text.touch {
    @apply text-font-color-green;
  }

  .header-logo-svg:hover + .header-logo-text,
  .header-logo-svg:active + .header-logo-text {
    @apply text-font-color-green;
  }

  .header-logo-svg.touch + .header-logo-text {
    @apply text-font-color-green;
  }

  .header-navmenu-hover {
    @apply transition-all underline-offset-4 sm:underline-offset-8 hover:text-font-color-green active:text-font-color-green;
  }

  .header-navmenu-hover.touch {
    @apply text-font-color-green;
  }

  .side-navmenu-border {
    @apply border-solid border-[1px] border-foreground my-3 md:my-5;
  }
  /* #endregion */

  /* #region NAV MENU */
  .topbar-menu {
    @apply z-10 box-border w-full bg-navbar p-4 sm:z-auto sm:box-content sm:w-auto sm:p-0;

    height: calc(100vh - var(--header-height) + 5px);
  }

  @media (min-width: 640px) {
    .topbar-menu {
      height: auto;
    }
  }

  .topbar-nav {
    @apply text-base font-bold sm:flex sm:items-center sm:justify-center md:text-xl;
  }
  /* #endregion */

  /* #region HOME PAGE */
  .home-stroke-path {
    fill: var(--navbar);
  }

  .explore-courses-btn {
    @apply rounded-lg border-2 border-b-6 border-font-color-blue-dark bg-font-color-blue px-6 py-3 text-lg font-bold text-font-color-white transition-all hover:text-font-color-pri active:text-font-color-pri hover:border-borderhover active:border-borderhover sm:px-8 sm:py-4 sm:text-xl;
  }

  .explore-courses-btn.touch {
    @apply text-font-color-pri border-borderhover;
  }

  .lottie-placeholder {
    transition: opacity 0.2s ease-in-out;
  }
  /* #endregion */

  /* #region ILLUSTRATIONS */
  .illus {
    @apply h-auto w-auto max-h-[225px] sm:max-h-[300px] md:max-h-[425px] lg:max-h-[500px];
  }
  /* #endregion */

  /* #region CONTACT PAGE */
  .contact-section-heading {
    @apply text-font-color-green text-2xl md:text-4xl font-extrabold mb-3;
  }

  .contact-form {
    @apply bg-navbar;
  }

  .form-submit-btn {
    @apply transition-all cursor-pointer text-font-color-white bg-font-color-green px-6 py-3 font-bold rounded-md hover:text-font-color-pri active:text-font-color-pri;
  }

  .form-submit-btn.touch {
    @apply text-font-color-pri;
  }

  .form-fieldbox {
    @apply transition-all w-full bg-background p-3 border-solid border-1 focus:outline-1 focus:outline-foreground border-border focus:border-foreground active:border-foreground rounded-lg;
  }

  .form-label {
    @apply font-semibold text-base md:text-lg mb-1;
  }

  .form-sublabel {
    @apply font-normal text-sm;
  }

  .form-req-label {
    @apply text-font-color-red-dark;
  }
  /* #endregion */

  /* #region APPLICATION FORM */
  .form-fieldset {
    @apply w-full flex flex-col items-center justify-center gap-7 py-10 md:py-20;
    padding-block: 0px !important;
  }

  .app-form-legend {
    @apply w-full flex justify-center items-center text-font-color-green text-xl md:text-3xl font-extrabold mb-4 md:mb-6;
  }

  .form-label {
    @apply font-semibold text-base md:text-lg mb-1;
  }

  .form-sublabel {
    @apply font-normal text-sm;
  }

  .form-req-label {
    @apply text-font-color-red-dark;
  }

  input[type="date"]::-webkit-datetime-edit-day-field,
  input[type="date"]::-webkit-datetime-edit-month-field,
  input[type="date"]::-webkit-datetime-edit-year-field,
  input[type="date"]::-webkit-datetime-edit-text,
  input::placeholder {
    @apply text-color-border-pri;
  }

  select:invalid {
    @apply text-color-border-pri;
  }

  select:valid {
    @apply text-font-color-pri;
  }

  select option {
    @apply text-font-color-pri;
  }

  select option:disabled {
    @apply text-color-border-pri;
  }

  select {
    appearance: none; /* Standard */
    -webkit-appearance: none; /* Safari */
    -moz-appearance: none; /* Firefox */
  }

  .no-datalist-arrow {
    appearance: none; /* For modern browsers */
    -webkit-appearance: none; /* Safari & Chrome */
    -moz-appearance: none; /* Firefox */
    background-image: none; /* Fallback if appearance fails */
  }

  .no-datalist-arrow::-webkit-calendar-picker-indicator {
    opacity: 0;
  }

  .file-upload-text {
    @apply text-color-border-pri;
  }

  input[type="file"]::file-selector-button {
    @apply w-full;
  }

  .form-file-info {
    list-style-type: "• ";
  }

  /* APPLICATION DATA TABLE */
  .app-data-container {
    @apply border-2 border-solid border-font-color-pri rounded-lg overflow-hidden;
  }

  .app-data-table {
    @apply w-full border-collapse text-left;
  }

  .app-data-table th,
  td {
    @apply px-4 py-2 border-2 border-solid border-color-border-pri;
  }

  /* Remove borders on the outer edges to prevent overlap with the container */
  .app-data-table thead th {
    border-top-width: 0;
  }
  .app-data-table tbody tr:last-child td {
    border-bottom-width: 0;
  }
  .app-data-table tr th:first-child,
  .app-data-table tr td:first-child {
    border-left-width: 0;
  }
  .app-data-table tr th:last-child,
  .app-data-table tr td:last-child {
    border-right-width: 0;
    border-left-width: 0;
  }
  .app-data-table tr th:nth-last-child(2),
  .app-data-table tr td:nth-last-child(2) {
    border-right-width: 0;
  }

  .app-data-table th {
    @apply text-lg bg-navbar-color-pri;
  }

  .app-data-table tr:hover {
    @apply bg-navbar-color-pri cursor-pointer;
  }

  /* .app-data-table tr:hover .view-more-btn {
    @apply text-font-color-pri;
  } */

  .view-more-btn {
    @apply transition-all flex justify-center items-center cursor-pointer w-7 h-7 rounded-full bg-font-color-sec text-font-color-white hover:text-font-color-pri active:text-font-color-pri;
  }

  .view-more-btn.touch {
    @apply text-font-color-pri;
  }

  .ind-app-data-container {
    @apply border-2 border-solid border-font-color-pri rounded-lg overflow-hidden;
  }

  .ind-app-data-table {
    @apply w-full border-collapse text-left;
  }

  .ind-app-data-table th,
  td {
    @apply px-4 py-2 border-2 border-solid border-color-border-pri;
  }

  /* Remove borders on the outer edges to prevent overlap with the container */
  .ind-app-data-table tbody tr:first-child td {
    border-top-width: 0;
  }
  .ind-app-data-table tbody tr:last-child td {
    border-bottom-width: 0;
  }
  .ind-app-data-table tr th:first-child,
  .ind-app-data-table tr td:first-child {
    border-left-width: 0;
  }
  .ind-app-data-table tr th:last-child,
  .ind-app-data-table tr td:last-child {
    border-right-width: 0;
    /* border-left-width: 0; */
  }
  .ind-app-data-table tr th:nth-last-child(2),
  .ind-app-data-table tr td:nth-last-child(2) {
    border-right-width: 0;
  }

  .ind-app-data-table th {
    @apply text-lg bg-navbar-color-pri;
  }

  .ind-app-data-table tr td:last-child {
    @apply font-semibold;
  }

  /* .ind-app-data-table tr:hover {
    @apply bg-navbar-color-pri cursor-pointer;
  } */
  /* #endregion */

  /* #region CERTI-DATA-TABLE  */
  .certi-data-container {
    @apply mx-3 lg:mx-0 border-2 border-solid border-font-color-pri rounded-lg overflow-hidden;
  }

  .certi-data-table {
    @apply w-full border-collapse text-left bg-background;
  }

  .certi-data-table th,
  td {
    @apply px-4 py-2 border-2 border-solid border-color-border-pri;
  }

  /* Remove borders on the outer edges to prevent overlap with the container */
  .certi-data-table tbody tr:first-child td {
    border-top-width: 0;
  }
  .certi-data-table tbody tr:last-child td {
    border-bottom-width: 0;
  }
  .certi-data-table tr th:first-child,
  .certi-data-table tr td:first-child {
    border-left-width: 0;
  }
  .certi-data-table tr th:last-child,
  .certi-data-table tr td:last-child {
    border-right-width: 0;
    /* border-left-width: 0; */
  }
  .certi-data-table tr th:nth-last-child(2),
  .certi-data-table tr td:nth-last-child(2) {
    border-right-width: 0;
  }

  .certi-data-table th {
    @apply text-lg bg-navbar-color-pri;
  }

  .certi-data-table tr td:last-child {
    @apply font-semibold;
  }
  /* #endregion */

  /* #region GRADE-TABLE */
  .grade-table-container {
    @apply w-full sm:w-3/4 border-2 border-solid border-font-color-pri rounded-lg overflow-hidden;
  }

  .grade-table {
    @apply w-full border-collapse text-left bg-background;
  }

  .grade-table td {
    @apply px-4 py-2 border-2 border-solid border-color-border-pri;
  }

  .grade-table tr:first-child td {
    border-top-width: 0;
  }
  .grade-table tr:last-child td {
    border-bottom-width: 0;
  }

  .grade-table tr td:first-child {
    border-left-width: 0;
  }

  .grade-table tr td:last-child {
    border-right-width: 0;
    /* border-left-width: 0; */
  }

  .grade-table tr td:nth-last-child(2) {
    border-right-width: 0;
  }
  /* #endregion */

  #certi-id-info, #grade-info {
    scroll-margin-top: calc(var(--header-height) + var(--main-section-pt));
  }

  /* #region LOADING-INDICATOR */
  /* The outer container that vtbot will toggle via html.loading */
  .loading-indicator {
    @apply pointer-events-none relative opacity-100 transition-all;
  }

  /* When a load is happening, vtbot adds .loading to <html> */
  /* html.loading #vtbot-loading-indicator {
    @apply !animate-none !opacity-100 transition-all;
  } */

  .loading-outer-ring {
    @apply absolute top-0 left-0 h-6 w-6 rounded-full border-4 border-foreground md:h-8 md:w-8 md:border-[5px];
  }

  /* The actual spinner element inside your #vtbot-loading-indicator */
  .loading-inner-spinner {
    @apply absolute top-0 left-0 h-6 w-6 animate-spin rounded-full border-4 border-font-color-green border-t-transparent transition-all md:h-8 md:w-8 md:border-[5px];
  }

  .dot-loader {
    width: 36px;
    aspect-ratio: 4;
    background: radial-gradient(
        circle closest-side,
        currentColor 90%,
        transparent
      )
      0 / calc(100% / 3) 100% space;
    clip-path: inset(0 100% 0 0);
    animation: l1 1s steps(4) infinite;
  }

  @keyframes l1 {
    to {
      clip-path: inset(0 -34% 0 0);
    }
  }
  /* #endregion */
}
