---
import BaseLayout from "../layouts/BaseLayout.astro";

const metadata = {
  title: "Application Data - V.Vidhya",
  description: "View submitted applications securely.",
};
---

<BaseLayout metadata={metadata} navSection="application-data">
  <!-- <h1>Application Form Submissions</h1> -->

  <table border="1">
    <thead>
      <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Contact No</th>
        <th>Course</th>
        <th>Photo</th>
        <th>Aadhar Card</th>
      </tr>
    </thead>
    <tbody id="applications-table">
      <tr>
        <td colspan="6">Loading applications...</td>
      </tr>
    </tbody>
  </table>

  <slot slot="specific-scripts-slot">
    <script src="../scripts/specific/load-app-data.js"></script>
  </slot>
</BaseLayout>
