---
export const prerender = false;

import PublicLayout from "../layouts/PublicLayout.astro";
import IconInfo from "../components/icons/IconInfo.astro";
import IconValid from "../components/icons/IconValid.astro";
import IconInvalid from "../components/icons/IconInvalid.astro";
import LoadingIndicator from "../components/icons/LoadingIndicator.astro";

const metadata = {
  title:
    "Certificate Authenticator - V.Vidhya | For Best Computer Education in Surat",
  description:
    "Verify the authenticity of your course certificate. Get in touch with V.Vidhya for the best computer education in Surat. Visit our institute, call us, or drop a message to learn more about offered courses.",
};
---

<PublicLayout metadata={metadata} navSection="application-form">
  <main>
    <section
      class="flex flex-col items-center justify-center gap-3 mx-auto mb-24 max-w-mdsm md:max-w-2xl lg:max-w-4xl 2xl:max-w-6xl"
    >
      <h2
        class="text-center text-font-color-sec text-[34px] md:text-5xl font-extrabold"
      >
        Certificate Authenticator
      </h2>

      <img
        src="/images/doodles/girl-achieving.svg"
        alt="an Illustration of a woman doing designing"
        class="illus"
        decoding="async"
      />
    </section>

    <div
      class="mx-auto mb-24 w-full px-7 xs:px-0 xs:max-w-[420px] sm:max-w-lg md:max-w-2xl lg:max-w-4xl 2xl:max-w-5xl"
    >
      <h2 class="text-center contact-section-heading mt-3 mb-9">
        Verify your Certificate
      </h2>

      <form
        name="verify-certificate"
        method="GET"
        id="certificate-form"
        autocomplete="off"
        novalidate
        class="flex flex-col items-center justify-center gap-20 mx-auto py-10 md:py-20 border-solid border-2 border-b-6 rounded-xl bg-navbar-color-pri"
        >
        <!-- enctype="multipart/form-data" -->
        <!-- action="https://api.vvidhya.com/api/verify-certificate" -->
        <fieldset class="form-fieldset">
          <div class="flex flex-col w-4/5 form-field">
            <label
              for="age"
              class="form-label !mb-3 flex flex-row items-center gap-2"
            >
              <span>
                Certificate ID
                <span class="form-req-label">*</span>
              </span>
              <a href="#certi-id-info" class="link-interaction-effect">
                <IconInfo styleClass="text-lg md:text-xl" />
              </a>
            </label>
            <input
              id="certificate-id-ip"
              name="token"
              class="form-fieldbox"
              type="text"
              placeholder="Enter your certificate ID"
              required
            />
            <div id="field-error" class="error text-font-color-red-dark"></div>
          </div>
        </fieldset>

        <button
          id="submit"
          type="submit"
          aria-label="Submit Form"
          class="flex flex-row justify-center items-center form-submit-btn"
        >
          <span>Verify</span>
          <LoadingIndicator styleClass="hidden ml-2" />
        </button>

        <section
          id="valid-response-section"
          class="hidden flex-col justify-center items-center gap-5 md:gap-10"
        >
          <div
            class="flex flex-col sm:flex-row justify-center items-center w-full gap-2.5 md:gap-5 text-2xl md:text-3xl text-font-color-sec"
          >
            <IconValid styleClass="text-font-color-green" />
            <p class="font-semibold">
              This certificate is <span class="font-bold">valid</span>.
            </p>
          </div>

          <div class="certi-data-container">
            <table class="certi-data-table">
              <tbody id="certi-data-table">
                <tr>
                  <td>Certificate-ID / Enrollment-Number</td>
                  <td id="certi-id">V2025MGD001</td>
                </tr>
                <tr>
                  <td>Student Name</td>
                  <td id="certi-student-name"
                    >Himanshu Shashankbhai Dorabdaruwala</td
                  >
                </tr>
                <tr>
                  <td>Course</td>
                  <td id="certi-course-name"
                    >Masters in Full-Stack Web-Development</td
                  >
                </tr>
                <tr>
                  <td class="flex flex-row items-center gap-2 border-none">
                    <span>Grade</span>
                    <a href="#grade-info" class="link-interaction-effect">
                      <IconInfo styleClass="text-lg md:text-xl" />
                    </a>
                  </td>
                  <td id="certi-grade">A+</td>
                </tr>
                <tr>
                  <td>Course Starting Date</td>
                  <td id="certi-course-start-date">15-08-2014</td>
                </tr>
                <tr>
                  <td>Course Ending Date</td>
                  <td id="certi-course-end-date">20-09-2025</td>
                </tr>
                <tr>
                  <td>Issued Date</td>
                  <td id="certi-issued-date">18-08-2025</td>
                </tr>
              </tbody>
            </table>
          </div>
        </section>

        <section
          id="invalid-response-section"
          class="hidden flex-col justify-center items-center gap-5 md:gap-10"
        >
          <div
            class="flex flex-col sm:flex-row justify-center items-center w-full gap-2.5 md:gap-5 text-2xl md:text-3xl text-font-color-red-dark"
          >
            <IconInvalid styleClass="text-font-color-red-dark" />
            <p class="font-semibold" id="response-message">
              This certificate is <span class="font-bold">invalid</span>.
            </p>
          </div>
        </section>
      </form>
    </div>

    <ul
      class="px-2.5 sm:px-0 list-outside list-disc mx-auto flex flex-col gap-10 md:gap-12 max-w-mdsm md:max-w-2xl lg:max-w-4xl 2xl:max-w-6xl"
    >
      <li id="certi-id-info">
        <p class="text-lg md:text-xl font-semibold mb-3 md:mb-5">
          Where to find the <span class="font-bold">Certificate-ID</span>?
        </p>
        <section
          class="flex flex-col items-center justify-center gap-3 md:gap-5 text-base md:text-lg"
        >
          <p>
            Verify the authenticity of your course certificate by simply
            entering the certificate-id present in the <span class="font-semibold">bottom right corner of
            your physical/digital certificate</span> copy, in the above form field.
            <br />
            If you have lost your physical/digital certificate copy, you can simply
            <span class="font-semibold">enter your enrollment-number</span> there as well, basically the certificate-id
            is same as your enrollment-number.
          </p>

          <!-- <img
            src="/images/examples/course_certificate.jpg"
            alt="an Illustration of a woman doing designing"
            class="ind-course-illus"
            decoding="async"
          /> -->
        </section>
      </li>
      <li id="grade-info">
        <p class="text-lg md:text-xl font-semibold mb-3 md:mb-5">
          How are the <span class="font-bold">Grades</span> calculated?
        </p>
        <section class="flex flex-col gap-3 md:gap-5 text-base md:text-lg">
          <div>
            <p class="mb-1">
              Grades are individual, not relative or competitive and awarded
              holistically based on:
            </p>
            <ul class="pl-5 list-outside list-[circle]">
              <li>Dedication and sincerity towards learning</li>
              <li>Regular attendance</li>
              <li>
                Timely submission and quality of assignments, projects and
                regular course work
              </li>
              <li>Respectful, professional behaviour with faculy members</li>
            </ul>
          </div>

          <div class="grade-table-container">
            <table class="grade-table">
              <tr>
                <td>A+</td>
                <td>*90% and above</td>
              </tr>
              <tr>
                <td>A</td>
                <td>*75% to 90%</td>
              </tr>
              <tr>
                <td>B+</td>
                <td>*60% to 75%</td>
              </tr>
              <tr>
                <td>B</td>
                <td>*50% to 60%</td>
              </tr>
              <tr>
                <td>C</td>
                <td>*35% to 50%</td>
              </tr>
              <tr>
                <td>F <span class="italic">(Fail)</span></td>
                <td>below 35%</td>
              </tr>
              <tr>
                <td colspan="2">* : (Ranges are inclusive of the lower and exclusive of the upper bound (i.e., lower ≤ score < upper)</td>
              </tr>
            </table>
          </div>
        </section>
      </li>
    </ul>
  </main>

  <slot slot="specific-scripts-slot">
    <script src="../scripts/specific/certificate-form-verification.js"></script>
  </slot>
</PublicLayout>
